@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v15-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v15-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: rgb(237, 243, 248);
  background-image: url(../images/body-bg.png);
  background-repeat: no-repeat;
  background-size: 640px 608px;
  background-position: top right;
}

@media only screen and (max-width: 900px) {
  body {
    background-image: url(../images/tablet-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
  }
}
@media only screen and (max-width: 718px) {
  body {
    background-image: url(../images/mobile-bg.png);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 40px 0 74px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 0;
}

.header-navbar {
  margin: 0px 468px 0 64px;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 40px;
}

.navbar-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 0;
  color: rgb(54, 83, 107);
  font-family: Public Sans;
  opacity: 0.7;
  transition: all 0.3s linear;
}
.navbar-link:hover {
  opacity: 1;
}

.header-btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 0;
  color: rgb(251, 252, 254);
  width: 173px;
  padding: 15px 0;
  font-family: Public Sans;
  text-align: center;
  border: none;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background: rgb(186, 66, 112);
  cursor: pointer;
}
.header-btn:hover {
  background: rgb(218, 109, 151);
}

.header-hamburger-btn {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Tablet start */
@media only screen and (max-width: 900px) {
  .site-header {
    padding: 40px 0 48px;
  }
  .header-logo-img {
    width: 153px;
    height: 38px;
  }
}
/* Mobile */
@media only screen and (max-width: 718px) {
  .site-header {
    padding: 40px 0 32px;
  }
  .navbar-list, .header-btn {
    display: none;
  }
  .header-hamburger-btn {
    display: block;
  }
}
.hero-section {
  padding-bottom: 75px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 206px;
}

.herp-content {
  width: 546px;
}

.hero-title {
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 0;
  color: rgb(54, 83, 107);
  max-width: 546px;
  font-family: DM Serif Display;
}

.hero-form {
  margin: 41px 0 16px 0;
}

.form-input {
  width: 320px;
  padding: 16px 40px 14px 27px;
  outline: none;
  border: none;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background: rgb(251, 252, 254);
}

.form-input::-moz-placeholder {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 0;
  color: rgb(54, 83, 107);
  opacity: 0.5;
  font-family: Public Sans;
}

.form-input::placeholder {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 0;
  color: rgb(54, 83, 107);
  opacity: 0.5;
  font-family: Public Sans;
}

.form-input:focus {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 0;
  color: rgb(54, 83, 107);
  font-family: Public Sans;
}

.form-btn {
  position: relative;
  left: 0px;
}

.hero-text-double {
  display: flex;
  gap: 5px;
}

.hero-text, .hero-text-second {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 0;
  color: rgb(54, 83, 107);
  font-family: Public Sans;
  opacity: 0.7;
}

.hero-text-second {
  opacity: 1;
}

/* Tablet  */
@media only screen and (max-width: 957px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
}
@media only screen and (max-width: 854px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-img {
    width: 159px;
    height: 300px;
  }
  .hero-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 0;
    color: rgb(54, 83, 107);
    width: 100%;
    font-family: DM Serif Display;
  }
  .hero-form {
    margin: 22px 0 16px;
  }
  .hero-text-double {
    display: flex;
    justify-content: center;
  }
}
/* Mobile */
@media only screen and (max-width: 583px) {
  .hero-section {
    padding-bottom: 80px;
  }
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
  .hero-img {
    width: 127px;
    height: 239px;
  }
  .hero-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 0;
    color: rgb(54, 83, 107);
    width: 100%;
    font-family: DM Serif Display;
  }
  .hero-form {
    width: 100%;
    margin: 24px 0 16px;
  }
  .form-input {
    width: 100%;
  }
  .form-btn {
    width: 100%;
    margin-top: 16px;
    display: block;
  }
}
.work-section {
  padding: 100px 0;
  background: rgb(27, 38, 47);
  background-image: url(../../images/work-bg.png);
  background-repeat: no-repeat;
}

.work-wrapper {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 87px;
}

.work-content {
  max-width: 445px;
}

.work-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 0;
  color: rgb(251, 252, 254);
  font-family: DM Serif Display;
}

.work-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: rgb(251, 252, 254);
  font-family: Public Sans;
  opacity: 0.7;
  margin: 24px 0 32px 0;
}

.work-about-us-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 0;
  color: rgb(251, 252, 254);
  font-family: Public Sans;
  width: 129px;
  padding: 14px;
  text-align: center;
  border: none;
  box-sizing: border-box;
  border: 1px solid rgb(251, 252, 254);
  border-radius: 24px;
  background: transparent;
  transition: all 0.3s linear;
}
.work-about-us-link:hover {
  background: rgb(255, 255, 255);
  color: rgb(27, 38, 47);
}

.work-partners {
  display: flex;
  -moz-column-gap: 62px;
       column-gap: 62px;
  row-gap: 46px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* Tablet  */
@media only screen and (max-width: 768px) {
  .work-section {
    padding: 88px 0;
    background-image: url(../../images/work-bg-tablet.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .work-wrapper {
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 64px;
    flex-direction: column-reverse;
  }
  .work-content {
    width: 100%;
    text-align: center;
  }
  .work-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 0;
    color: rgb(251, 252, 254);
  }
  .work-partners {
    display: flex;
    -moz-column-gap: 62px;
         column-gap: 62px;
    row-gap: 46px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
/* Mobile */
@media only screen and (max-width: 594px) {
  .work-section {
    padding: 80px 0;
    background-image: url(../../images/work-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .work-wrapper {
    display: flex;
    align-items: center;
    justify-content: 0;
    gap: 56px;
    flex-direction: column-reverse;
  }
  .work-content {
    width: 100%;
    text-align: center;
  }
  .work-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 0;
    color: rgb(251, 252, 254);
  }
  .work-text {
    margin: 16px 0 60px 0;
  }
  .work-partners {
    display: flex;
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 39px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
.easy-section {
  padding: 150px 0;
}

.easy-wrapper {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 0;
}

.easy-content {
  width: 445px;
}

.easy-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 24px;
  color: rgb(54, 83, 107);
  font-family: DM Serif Display;
}

.easy-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: rgb(108, 130, 148);
  font-family: Public Sans;
}

.simple-section {
  padding-bottom: 146px;
  background-image: url(../../images/simple-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.simple-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.simple-content {
  width: 445px;
}

.simple-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 0;
  color: rgb(54, 83, 107);
  font-family: DM Serif Display;
}

.simple-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: rgb(108, 130, 148);
  font-family: Public Sans;
  margin-top: 24px;
}

.finance-section {
  padding-bottom: 96px;
}

.finance-wrapper {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 30px;
}

.finance-list {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 0;
  flex-direction: column;
  text-align: center;
}

.finance-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 0;
  color: rgb(54, 83, 107);
  margin: 32px 0 16px 0;
  font-family: Public Sans;
}

.finance-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 0;
  color: rgb(108, 130, 148);
  font-family: Public Sans;
}

.ready-section {
  padding-bottom: 96px;
}

.ready-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.ready-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 0;
  color: rgb(54, 83, 107);
  font-family: DM Serif Display;
}

.site-footer {
  padding: 31px 0;
  background: rgb(27, 38, 47);
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.footer-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 64px;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 40px;
}

.footer-link {
  opacity: 0.7;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 0;
  color: rgb(251, 252, 254);
  font-family: Public Sans;
  transition: all 0.3s linear;
}

.footer-link:hover {
  opacity: 1;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: 0;
  gap: 24px;
}

.fa-brands {
  font-size: 24px;
  color: rgb(251, 252, 254);
  transition: all 0.3s linear;
}

.fa-facebook:hover {
  color: rgb(218, 109, 151);
}

.fa-twitter:hover {
  color: rgb(218, 109, 151);
}

.fa-linkedin:hover {
  color: rgb(218, 109, 151);
}/*# sourceMappingURL=main.css.map */