*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    // font-family: "--", sans-serif;
    background: rgb(237, 243, 248);
    background-image: url(../images/body-bg.png);
    background-repeat: no-repeat;
    background-size: 640px 608px;
    background-position: top right;
}

@media only screen and (max-width:900px){
    body{
        background-image: url(../images/tablet-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
    }
}
@media only screen and (max-width:718px){
    body{
        background-image: url(../images/mobile-bg.png);
    }
}