
.site-header {
    padding: 40px 0 74px 0;
}

.header {
    @include display($items:center,$space:0,$gap:0);
    
}
.header-navbar {
    margin: 0px 468px 0 64px;
}
.navbar-list {
    @include display($items:center,$space:0,$gap:40px);
}
.navbar-link {
    @include textStyle($FW:700,$FS:15px,$LH:18px,$MB:0,$CLR:$text-color);
    font-family: Public Sans;
    opacity: 0.7;
    transition: all 0.3s linear;
    &:hover {
        opacity: 1;
    }
}

.header-btn {
    @include textStyle($FW:700,$FS:15px,$LH:18px,$MB:0,$CLR:rgb(251, 252, 254));
    width: 173px;
    padding: 15px 0;
    font-family: Public Sans;
    text-align: center;
    border: none;
    border-radius: 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background: $btn-color;
    cursor: pointer;

    &:hover {
        background: rgb(218, 109, 151);
    }
}
.header-hamburger-btn {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Tablet start */
@media only screen and (max-width:900px){
    .site-header {
        padding: 40px 0 48px;
    }
    .header-logo-img {
        width: 153px;
        height: 38px;
    }
}



/* Mobile */
@media only screen and (max-width:718px){
    .site-header {
        padding: 40px 0 32px;
    }
    .navbar-list, .header-btn {
        display: none;
    }
    .header-hamburger-btn {
        display: block;
    }
}